@font-face {
    font-family: 'squarefont';
    src: url('../fonts/square-webfont.woff2') format('woff2'),
         url('../fonts/square-webfont.woff') format('woff'),
         url('../fonts/square-webfont.ttf') format('truetype'),
         url('../fonts/square-webfont.svg#squarefontregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'squarefont';
}
body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
main{
    display: block;
    width: 100vw;
    height: 100vh;
}
#game, #highscores{
    background: url('../img/laptop.png') no-repeat;
    background-size: cover;
}

.player {
    padding-top: 20px;
    text-align: center;
}

.player h1 {
    margin-bottom: 20px;
    font-size: 70px;
}

.player .fb-login-button {
    /*margin-bottom: 20px;*/
}

#status {
    margin: 20px 0px;
}

.hidden {
    display: none;
}

.visible {
    visibility: visible;
}
/*
HIGHSCORE STUFF
 */
table#table-highscores{
    border-collapse: separate;
    margin: auto;
    width: 60%;
    color: #FFFFFF;
}
table caption{
    margin: 20px 0;
}
table thead{
    font-size: 2em;
}
table tbody{
    font-size: 1.5em;
}
table tfoot{

}

td, th{
    text-align: center;
}

.highscores.rank{
    text-align: center;
    font-weight: bold;
}
.highscores.flag{
    text-align: right;
}
.highscores.flag img{
    height: 30px;
    width: 50px;
}
.highscores.country{
    text-align: left;
    padding-left: 20px;
}
.highscores.score{
    text-align: center;
    font-weight: bold;
}
